<div class="layui-row layui-font-gray layui-font-14 layui-padding-3">
    <div class="clearfix">
        <p class="text-center layui-padding-2">本网站只提供web页面服务，并不提供资源存储，也不参与录制、上传<br>若本站收录的节目无意侵犯了贵司版权，请发邮件至兔子@捌捌.com(汉字转拼音) （我们会在3个工作日内删除侵权内容，谢谢。）</p>
        <p class="text-center layui-padding-2">
            www.zx189.com 版权所有 联系邮箱：<a class="layui-font-gray" href="mailto:{maccms:email}">兔子@捌捌.com(汉字转拼音)</a></p>
        <p class=" text-center ">Copyright © 2020-2021&nbsp;技术支持:<a class="layui-font-gray" href="/" target="_blank">在线之家</a>&nbsp;</p>
        <p class=" text-center ">
            <a class="layui-font-gray" href="" target="_blank">RSS订阅</a>
            <span class=""> - </span>
            <a class="layui-font-gray" href="" target="_blank">百度蜘蛛</a>
            <span class=""> - </span>
            <a class="layui-font-gray" href="" target="_blank">谷歌地图</a>
            <span class=""> - </span>
            <a class="layui-font-gray" href="" target="_blank">神马爬虫</a>
            <span class=" "> - </span>
            <a class="layui-font-gray" href="" target="_blank">搜狗蜘蛛</a>
            <span class=" "> - </span>
            <a class="layui-font-gray" href="" target="_blank">奇虎地图</a>
            <span class=" "> - </span>
            <a class="layui-font-gray" href="" target="_blank">必应爬虫</a>
        </p>
    </div>
</div>