{extend name="./common/common"}

{block name='content'}

<div class="layui-collapse margin-top-20" lay-accordion="">
    <div class="layui-colla-item">
        <div class="layui-colla-title layui-font-gray layui-font-16">已选择：最新-电影，共检索到“1294”条结果</div>
        <div class="layui-colla-content">
            <span class="layui-font-gray layui-font-14 padding-right-10">按剧情：</span>
            <span class="layui-breadcrumb" lay-separator=" ">
              <a href=""><span class="layui-font-gray">八卦</span></a>
              <a href=""><span class="layui-font-gray">八卦</span></a>
              <a href=""><span class="layui-font-gray">八卦</span></a>
              <a href=""><span class="layui-font-gray">八卦</span></a>
              <a href=""><span class="layui-font-gray">八卦</span></a>
              <a href=""><span class="layui-font-gray">八卦</span></a>
            </span>
        </div>
        <div class="layui-colla-content">
            <span class="layui-font-gray layui-font-14 padding-right-10">按剧情：</span>
            <span class="layui-breadcrumb" lay-separator=" ">
              <a href=""><span class="layui-font-gray">八卦</span></a>
              <a href=""><span class="layui-font-gray">八卦</span></a>
              <a href=""><span class="layui-font-gray">八卦</span></a>
              <a href=""><span class="layui-font-gray">八卦</span></a>
              <a href=""><span class="layui-font-gray">八卦</span></a>
              <a href=""><span class="layui-font-gray">八卦</span></a>
            </span>
        </div>
        <div class="layui-colla-content">
            <span class="layui-font-gray layui-font-14 padding-right-10">按剧情：</span>
            <span class="layui-breadcrumb" lay-separator=" ">
              <a href=""><span class="layui-font-gray">八卦</span></a>
              <a href=""><span class="layui-font-gray">八卦</span></a>
              <a href=""><span class="layui-font-gray">八卦</span></a>
              <a href=""><span class="layui-font-gray">八卦</span></a>
              <a href=""><span class="layui-font-gray">八卦</span></a>
              <a href=""><span class="layui-font-gray">八卦</span></a>
            </span>
        </div>
    </div>
</div>
<div class="layui-row layui-col-space20 margin-top-20">
    <div class="layui-col-sm4 video-list">
        <a href="">
            <img style="width: 100%;height: 100%;" src="https://bftuvip.com/upload/vod/20240227-1/62f8c6e8a868e236a21b829e104f785a.jpg" alt="">
            <div><p class="text-center layui-bg-gray padding-top-10 layui-font-16">唐人街探案2 剧场</p></div>
        </a>
    </div>
    <div class="layui-col-sm4 video-list">
        <a href="">
            <img style="width: 100%;height: 100%;" src="https://bftuvip.com/upload/vod/20240227-1/62f8c6e8a868e236a21b829e104f785a.jpg" alt="">
            <div><p class="text-center layui-bg-gray padding-top-10 layui-font-16">唐人街探案2 剧场</p></div>
        </a>
    </div>
    <div class="layui-col-sm4 video-list">
        <a href="">
            <img style="width: 100%;height: 100%;" src="https://bftuvip.com/upload/vod/20240227-1/62f8c6e8a868e236a21b829e104f785a.jpg" alt="">
            <div><p class="text-center layui-bg-gray padding-top-10 layui-font-16">唐人街探案2 剧场</p></div>
        </a>
    </div>
    <div class="layui-col-sm4 video-list">
        <a href="">
            <img style="width: 100%;height: 100%;" src="https://bftuvip.com/upload/vod/20240227-1/62f8c6e8a868e236a21b829e104f785a.jpg" alt="">
            <div><p class="text-center layui-bg-gray padding-top-10 layui-font-16">唐人街探案2 剧场</p></div>
        </a>
    </div>
    <div class="layui-col-sm4 video-list">
        <a href="">
            <img style="width: 100%;height: 100%;" src="https://bftuvip.com/upload/vod/20240227-1/62f8c6e8a868e236a21b829e104f785a.jpg" alt="">
            <div><p class="text-center layui-bg-gray padding-top-10 layui-font-16">唐人街探案2 剧场</p></div>
        </a>
    </div>
    <div class="layui-col-sm4 video-list">
        <a href="">
            <img style="width: 100%;height: 100%;" src="https://bftuvip.com/upload/vod/20240227-1/62f8c6e8a868e236a21b829e104f785a.jpg" alt="">
            <div><p class="text-center layui-bg-gray padding-top-10 layui-font-16">唐人街探案2 剧场</p></div>
        </a>
    </div>
</div>
{/block}